# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
src/__pycache__/

# Output files & Large Data
*.xlsx
*.csv
*.html
*.js
*.json
*.tmp
data/output/*
!data/output/.gitkeep

# Temporary / OS
.DS_Store
Thumbs.db

# IDE & editors
.idea/
.vscode/
